<% layout('/layouts/boilerplate') -%>
<div class="row">
<div class="col-8 offset-2">
    <br><br>
    <h3>Create new Listings</h3>
    <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Enter a catchy title" type="text" class="form-control" id="title" required>
        <div class="valid-feedback">
            Looks good!
          </div>
    </div>
        <div>
        <label for="description" class="form-label">Description</label>        
        <textarea name="listing[description]" class="form-control" type="text" id="description" required></textarea>
        <div class="invalid-feedback">
            Please enter a short description.
          </div>
    </div>
    
    <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label> 
        <input name="listing[image]" type="file" class="form-control" id="image" >
        required
        <div class="invalid-feedback">
            Please enter the correct image.
          </div>
    </div>
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label> 
            <input name="listing[price]" placeholder="1200"  class="form-control" id="price" required>
            <div class="invalid-feedback">
                Price must be valid!
              </div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label> 
            <input name="listing[country]" placeholder="Pakistan" type="text" class="form-control" id="country" required>
            <div class="invalid-feedback">
                Country name must be valid!
              </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="location" class="form-label">Location</label> 
        <input name="listing[location]" placeholder="Lahore, Pakistan" type="text" class="form-control" id="location" required>
        <div class="invalid-feedback">
            Location must be valid!
          </div>
    </div>
    
        <button class="btn btn-dark add-btn" type="submit">Add</button>
        <br><br>
    </form>
</div>
</div>
